/* Sammy's Stylesheet */

h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.5;
    font-size: calc(1.375rem + 1.9vw);
    color: rgb(23, 23, 216);
  }

  h2, .h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.5;
    font-size: calc(1.375rem + 1vw);
    color: rgb(13, 122, 3);
  }